constants:
  backup_dir: "/home/josh"
  borg_repo: "/home/josh/homeshare/myarchy-borg-repo"

source_directories:
    - "{backup_dir}"

repositories:
    - path: "{borg_repo}" 

checks:
  - name: data
    frequency: 1 week

ntfy:
  topic: desktop-backups
  server: https://ntfy.mink-pirate.ts.net
  fail:
    title: Desktop backups failed
    message: Check ntfy server or desktop's tailscale connection
    tags: borgmatic, skull
  states:
    - fail

exclude_caches: true
exclude_patterns:
    - "{backup_dir}/homeshare"
    - "{backup_dir}/SynologyDrive"
    - "{backup_dir}/.cache"
    - "{backup_dir}/**/.cache"
    - "{backup_dir}/**/.cache/*"
    - "{backup_dir}/.local/share/Trash"
    - "{backup_dir}/**/tmp"
    - "{backup_dir}/**/*.tmp"

# Keep all archives within this time interval. See "skip_actions" for
# disabling pruning altogether.
keep_within: 3H
keep_daily: 7
keep_weekly: 4
keep_monthly: 6
keep_yearly: 1
